---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommonMetaTags from "../components/CommonMetaTags.astro";
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Gallery - St. Joseph's Church, Airoli</title>
    <CommonMetaTags />
  </head>

  <body>
    <Header />

    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">Gallery</h1>
            <p class="text-white link-nav">
              <a href="index.html">Home</a>
              <span class="fa fa-chevron-right"></span>
              <a href="gallery.html"> Gallery</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <section class="gallery-area mt-4">
      <div class="container">
        <div class="row justify-content-center my-3">
          <ul
            class="nav nav-pills mb-3 gallery-pill-row"
            id="pills-tab"
            role="tablist"
          >
          </ul>
        </div>
        <div class="row tab-content" id="pills-tabContent"></div>
        <script>
          var galleryData = [];
          var url =
            "https://ap-south-1.cdn.hygraph.com/content/cleslmwlh2c5j01ujd6j7gzuf/master?query=query%20Assets%20%7B%0A%20%20galleries(orderBy%3A%20year_DESC%2C%20first%3A%201000)%20%7B%0A%20%20%20%20year%0A%20%20%20%20tags%0A%20%20%20%20imageFile%20%7B%0A%20%20%20%20%20%20url%0A%20%20%20%20%7D%0A%20%20%20%20caption%0A%20%20%7D%0A%7D%0A&operationName=Assets";
          async function getImagesFromCMS() {
            const reps = await fetch(url);
            var data = await reps.json();
            data = data.data.galleries;

            for (var i = 0; i < data.length; i++) {
              galleryData.push(data[i]);
            }
            let galleryYears = [];
            for (let index = 0; index < galleryData.length; index++) {
              const el = galleryData[index];
              if (!galleryYears.includes(el.year)) {
                galleryYears.push(el.year);
                document.getElementById("pills-tab").innerHTML += `
								<li class="nav-item">
									<a class="nav-link gallery-pill-link" id="pills-${el.year}-tab" data-toggle="pill"
										href="#pills-${el.year}" role="tab" aria-controls="pills-${el.year}" aria-selected="false">${el.year}</a>
								</li>`;
                document.getElementById("pills-tabContent").innerHTML += `
								<div class="tab-pane fade" id="pills-${el.year}" role="tabpanel" aria-labelledby="pills-${el.year}-tab">
									<div class="container">
										<div class="row" id="gallery-pill-row-${el.year}">
										
										</div>
									</div>
								</div>`;
              }
              document.getElementById(
                `gallery-pill-row-${el.year}`,
              ).innerHTML += `
							<div class="col-lg-4">
								<a href="${el.imageFile.url}" class="img-gal" data-lightbox="gallery-home" data-title="${el.caption}">
									<div class="single-imgs relative">
										<div class="overlay overlay-bg"></div>
										<img class="img" src="${el.imageFile.url}"
										alt="${el.caption}">
									</div>
								</a>
							</div>
						`;
              let tabpills =
                document.getElementsByClassName("gallery-pill-link");
              tabpills[0].classList.add("active");
              let tabpanes = document.getElementsByClassName("tab-pane");
              tabpanes[0].classList.add("show", "active");
            }
            //2008
            document.getElementById("pills-tab").innerHTML += `
					<li class="nav-item">
						<a class="nav-link gallery-pill-link" id="pills-2008-tab" data-toggle="pill"
							href="#pills-2008" role="tab" aria-controls="pills-2008" aria-selected="false">2008</a>
					</li>`;
            document.getElementById("pills-tabContent").innerHTML += `
					<div class="tab-pane fade" id="pills-2008" role="tabpanel" aria-labelledby="pills-2008-tab">
						<div class="container">
							<div class="row" id="gallery-pill-row-2008">
							
							</div>
						</div>
					</div>`;

            for (let i = 1; i <= 33; i++) {
              document.getElementById("gallery-pill-row-2008").innerHTML += `
						<div class="col-lg-4">
						<a href="img/gallery/2008/${i}.webp" class="img-gal" data-lightbox="gallery-home" data-title="2008 Photos">
							<div class="single-imgs relative">
								<div class="overlay overlay-bg"></div>
								<img class="img" src="img/gallery/2008/${i}.webp"
								alt="2008 Photos">
							</div>
						</a>
					</div>`;
            }

            //Old Photos
            document.getElementById("pills-tab").innerHTML += `
					<li class="nav-item">
						<a class="nav-link gallery-pill-link" id="pills-old-tab" data-toggle="pill"
							href="#pills-old" role="tab" aria-controls="pills-old" aria-selected="false">Old</a>
					</li>`;
            document.getElementById("pills-tabContent").innerHTML += `
					<div class="tab-pane fade" id="pills-old" role="tabpanel" aria-labelledby="pills-old-tab">
						<div class="container">
							<div class="row" id="gallery-pill-row-old">
							
							</div>
						</div>
					</div>`;

            for (let i = 1; i <= 83; i++) {
              document.getElementById("gallery-pill-row-old").innerHTML += `
						<div class="col-lg-4">
						<a href="img/gallery/old/${i}.webp" class="img-gal" data-lightbox="gallery-home" data-title="Old Photos">
							<div class="single-imgs relative">
								<div class="overlay overlay-bg"></div>
								<img class="img" src="img/gallery/old/${i}.webp"
								alt="Old Photos">
							</div>
						</a>
					</div>`;
            }
          }
          getImagesFromCMS();
        </script>
      </div>
    </section>
    <Footer />
  </body>
</html>
