---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Gallery from "../components/Gallery.astro";
import Annoucements from "../components/Annoucements.astro";

import Banner from "../components/homepage/Banner.astro";
import Organizations from "../components/homepage/Organizations.astro";
import FamilyUnits from "../components/homepage/FamilyUnits.astro";
import VicarPrayer from "../components/homepage/VicarPrayer.astro";
import QurbanaTimingsAndReadings from "../components/homepage/QurbanaTimingsAndReadings.astro";
import CommonMetaTags from "../components/CommonMetaTags.astro";

const pageUrl = "https://stjosephchurchairoli.in/";
const pageTitle = "Home - St. Joseph's Church, Airoli";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta charset="UTF-8" />
    <CommonMetaTags />
    
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={pageUrl} />
    <meta property="og:title" content={pageTitle} />

    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content={pageUrl} />
    <meta name="twitter:title" content={pageTitle} />

    <title>{pageTitle}</title>

    <script is:inline src="/js/syrocalendar.js"></script>
  </head>

  <body>
    <Header />
    <Banner />
    <QurbanaTimingsAndReadings />
    <VicarPrayer />

    <!-- <section id="feastPoster" class="bg-grey mt-5 pt-5 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2><strong>Feast Promo 2024</strong></h2>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <iframe
            width="400"
            height="600"
            src="https://www.youtube.com/embed/Zk3835cCYyM?si=mMo9N9N0bhxKgpOz"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </section> -->

    <!-- <section id="announcements" class="bg-grey mt-5 pt-5 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2><strong>Announcements</strong></h2>
            <p class="lead">
              Updated on <span id="annoucementUpdateDate">15 April, 2023</span>
            </p>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="announcements-box" id="annoucementsList"></div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <FamilyUnits />
    <Organizations />

    <Gallery
      cmsUrl="https://ap-south-1.cdn.hygraph.com/content/cleslmwlh2c5j01ujd6j7gzuf/master?query=query%20Assets%20%7B%0A%20%20galleries(orderBy%3A%20year_DESC%2C%20first%3A%201000)%20%7B%0A%20%20%20%20year%0A%20%20%20%20tags%0A%20%20%20%20imageFile%20%7B%0A%20%20%20%20%20%20url%0A%20%20%20%20%7D%0A%20%20%20%20caption%0A%20%20%7D%0A%7D%0A&operationName=Assets"
    />

    <Footer />
    <Annoucements />
  </body>
</html>
